### Bases de Dados

- [Tabela de Custos Secretaria de Infraestrutura do Estado do Ceará](https://www.seinfra.ce.gov.br/tabela-de-custos/)

In [64]:
import pandas as pd

In [65]:
src = '../../data/projeto_02/027.1-insumos.xls'
src2 = '../../data/projeto_02/026.1-insumos.xls'
src3 = '../../data/projeto_02/025.1A-insumos.xls'
src4 = '../../data/projeto_02/024.1-insumos.xls'

In [66]:
dados = pd.read_excel(src, skiprows=4)
dados2 = pd.read_excel(src2, skiprows=2)
dados3 = pd.read_excel(src3, skiprows=2)
dados4 = pd.read_excel(src4, skiprows=2)

In [67]:
dados4

,Insumo,Descrição,Unidade,SEM ENCARGOS,COM ENCARGOS
0,I7501,"10 SLOTS CHASSIS MODULAR HARDWARE STYLE , MOD....",UN,1537.41,NaN
1,I7447,"5/03 RS-232 ROGRAMMER CABLE 3m, MOD. 1747-CP3 AB",UN,67.26,NaN
2,I8222,ABÓBADA DE POLICARBONATO TRANSPARENTE,M2,597.48,NaN
3,I6472,"ABRAÇADEIRA PARA POSTE DE CONCRETO DUPLO ""T""",UN,6.01,NaN
4,I6700,"ABRAÇADEIRAS EM FERRO BARRA CHATA 1/4"" PINTURA...",UN,36.40,NaN
...,...,...,...,...,...
7379,I2261,VOLTÍMETRO ( 144 X 144 )MM - ESC. 0 - 500V,UN,195.68,NaN
7380,I2262,VOLTÍMETRO (72 X 72)MM - ESC. 0 - 500V,UN,126.62,NaN
7381,I2263,VOLTÍMETRO (96 X 96)MM - ESC. 0 A 500V,UN,155.39,NaN
7382,I6041,XEROX,UN,0.14,NaN
7383,I2293,ZARCÃO,L,15.49,NaN

In [68]:
#dados_filtrados = dados[dados['Descrição'].str.contains('CIMENTO', na=False)]
#dados_filtrados

In [69]:
dados.query("Insumo == 'I0828' or Insumo == 'I0805'")

     Insumo                    Descrição Unidade Valor (R$)
51    I0805             CIMENTO PORTLAND      KG       0.56
8006  I0828  CONCRETO USINADO FCK=25 MPA      M3     309.52

In [70]:
dados2.query("Insumo == 'I0828' or Insumo == 'I0805'")

     Insumo                    Descrição Unidade   VALOR
1295  I0805             CIMENTO PORTLAND      KG    0.46
1461  I0828  CONCRETO USINADO FCK=25 MPA      M3  265.00

In [71]:
dados3.query("Insumo == 'I0828' or Insumo == 'I0805'")

     Insumo                    Descrição Unidade   VALOR
1241  I0805             CIMENTO PORTLAND      KG    0.46
1397  I0828  CONCRETO USINADO FCK=25 MPA      M3  265.00

In [72]:
dados4.query("Insumo == 'I0828' or Insumo == 'I0805'")

     Insumo                    Descrição Unidade  SEM ENCARGOS  COM ENCARGOS
1225  I0805             CIMENTO PORTLAND      KG           0.5           NaN
1383  I0828  CONCRETO USINADO FCK=25 MPA      M3         265.0           NaN